/* TODO: add stles for portfolio page */
body {
    background-color: #4B97AA;
}
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav h1 {
    font-size: 48px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: #6A5B6E;
  color:#ECEED3
}

nav ul li {
  display: inline-flex;
  justify-content: space-between;
  padding: 20px;
  font-size: 150%;
}

nav a {
  color: #ECEED3;
}


